@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

@font-face {
    font-family: 'Miama';
    src: url('images/Miama.otf');
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: Inter;
    background-color: #080808;
}

/* header section goes here */
header {
    height: 715px;
    background-image: linear-gradient(180.00deg, rgba(119, 119, 119, 0) 0%, rgba(119, 119, 119, 0.3) 50%, rgba(119, 119, 119, 0) 100%);
}

.header-container {
    width: 73.5%;
    margin: 0 auto;

}

.nav-bar {
    margin-top: 3.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: tomato;
    font-size: 1.5rem;
}

.menu {
    width: 30rem;
    height: 3rem;
    display: flex;
    padding-left: 0.2rem;
    padding-right: 0.2rem;
    justify-content: space-between;
    align-items: center;
    border-radius: 15rem;
    border: 2px solid rgba(255, 255, 255, 0.1);
}

.hamburger {
    display: none;
}

.menu p:first-child {
    background-color: rgb(230, 83, 60);
    padding: 0.5rem 1.25rem;
    border-radius: 10rem;
    overflow: hidden;
    color: rgb(255, 255, 255);
    font-size: 1.1rem;
    font-weight: 400;

}

.menu p {
    padding: 0.5rem 1.25rem;
    border-radius: 10rem;
    overflow: hidden;
    color: rgb(255, 255, 255);
    font-size: 1.1rem;
    font-weight: 400;
}

.header-info {
    height: 580px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
}

.textandbutton {
    width: 40rem;
}

.textandbutton h1 {
    color: white;
    font-weight: 900;
    font-size: 4.5rem;
    margin-bottom: 1.2rem;
    max-width: 30rem;
    line-height: 120%;
}

.shape-txt {
    font-family: 'Miama';
    font-weight: 400;
    font-size: 8rem;
}

.textandbutton p {
    color: white;
    opacity: 0.5;
    font-weight: 400;
    width: 30rem;
    font-size: 0.9rem;
    line-height: 1.5rem;
    letter-spacing: 0.05rem;
}

.header-buttons button:nth-of-type(1) {
    padding: 1rem 1.25rem;
    color: white;
    margin-top: 2rem;
    display: inline-block;
    font-family: Inter;
    background-color: tomato;
    font-weight: 450;
    border: none;
    width: 13rem;
    font-size: 1rem;
    border-radius: 10rem;
    margin-right: 0.8rem;
    cursor: pointer;

}

.header-buttons button:nth-of-type(2) {
    padding: 1rem 1.25rem;
    color: white;
    margin-top: 2rem;
    display: inline-block;
    background-color: transparent;
    border: 1px solid white;
    width: 13rem;
    font-size: 1rem;
    font-family: Inter;
    border-radius: 10rem;
    cursor: pointer;
    font-weight: 450;
}

.header-image {
    position: relative;
}

.box-1 {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.2);
    bottom: 3rem;
    left: -5rem;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 0.8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.2rem;
    gap: 0.8rem;
    backdrop-filter: blur(4px);
}

.box-1 h2 {
    color: white;
    font-size: 1.5rem;
}

.box-1 p {
    margin-top: 0.1rem;
    color: rgba(255, 255, 255, 0.8);
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 0.05rem;
}

.circle {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    background-color: tomato;
}

.box-2 {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 0.8rem;
    padding: 1rem 1.2rem;
    gap: 0.8rem;
    backdrop-filter: blur(4px);
    top: 8rem;
    right: -2rem;
}

.box-2 h2 {
    color: white;
    font-size: 2.5rem;
}

.box-2 p {
    margin-top: 0.1rem;
    color: rgba(255, 255, 255, 0.8);
    font-size: 0.8rem;
    font-weight: 400;
    letter-spacing: 0.05rem;
}

/* header section ends here */

/* change-habit section starts here */
.change-habit {
    width: 73.5%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 5rem;
}

.change-habit .text {
    color: white;
    text-align: center;
}

.change-habit .text h2 {
    font-weight: 900;
    font-size: 3rem;
}

.change-habit .text p {

    color: rgba(255, 255, 255, 0.5);
    font-size: 0.8rem;
    width: 35rem;
    font-weight: 400;
    letter-spacing: 0.05rem;
    line-height: 1.5rem;
    margin: 1rem 0 1.5rem;
}

.change-habit .cards {
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin: 0 auto;
    gap: 2rem;
    padding-top: 2rem;

}

.change-habit .cards div {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.change-habit .cards img {
    width: 10.1rem;
    height: 10.1rem;
    border-radius: 50%;
    border: 3px solid rgb(56, 56, 56);
}

.change-habit .cards h2 {
    color: white;
    width: 13rem;
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
    margin-top: 1rem;
}

.change-habit .cards p {
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.8rem;
    font-weight: 400;
    line-height: 1.1rem;
    margin-top: 0.8rem;
    text-align: center;
    letter-spacing: 0.05rem;
}

/* change-habit section starts here */

/* Extra mile section starts here */
.extra-mile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    width: 73.5%;
    margin: 0 auto;
    border-radius: 1rem;
    background-color: rgb(34, 34, 34)
}

.extra-mile-text-button {
    width: 50%;
    margin-left: 1rem;
}

.extra-mile-image {
    width: 40%;
    height: 18rem;
    background-image: url('images/run.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 1rem;
}

.extra-mile-text-button h1 {
    font-weight: 900;
    font-size: 3rem;
    width: 80%;
    color: white;
}

.extra-mile-text-button p {
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.8rem;
    width: 35rem;
    font-weight: 400;
    width: 100%;
    letter-spacing: 0.05rem;
    line-height: 1.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.extra-mile-text-button button {
    padding: 1rem 1.25rem;
    color: white;
    margin-top: 1rem;
    display: inline-block;
    font-family: Inter;
    background-color: tomato;
    font-weight: 450;
    border: none;
    width: 13rem;
    font-size: 1rem;
    border-radius: 10rem;
    cursor: pointer;
}

/* extra-mile section ends here */

/* bmi-calculator section starts here  */
.bmi-calculator {
    color: white;

    margin-top: 4rem;
}

.bmi-calculator-text {
    margin: 0 auto;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    margin: 0 auto;
    margin-bottom: 2rem;
}

.bmi-calculator-text h1 {
    font-weight: 900;
    font-size: 3rem;
    margin-bottom: 1rem;
}

.bmi-calculator-text p {
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.8rem;
    font-weight: 400;
    letter-spacing: 0.05rem;
    line-height: 1.5rem;
    width: 30rem;

}

.chart-form-container {
    background-color: rgb(34, 34, 34);
    padding-bottom: 3rem;
}

.chart-and-form {
    width: 73.5%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: start;

    padding-top: 3rem;
}

.chart {
    width: 50%;
}

.form {
    width: 50%;
}

.form h2,
.chart h2 {
    font-weight: 900;
    font-size: 2rem;
    margin-bottom: 1rem;
}

.form p {
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 0.8rem;
    color: rgba(255, 255, 255, 0.5);
    font-weight: 400;
    width: 100%;
    letter-spacing: 0.05rem;
    line-height: 1.5rem;
}

form table {

    width: 100%;

}

.chart table {
    margin-top: 2rem;
    border-collapse: collapse;
    font-size: 0.8rem;
    color: rgba(255, 255, 255, 0.5);
    font-weight: 400;
    letter-spacing: 0.05rem;
}

td,
th {
    border: 2px solid rgb(54, 54, 54);
    padding: 1rem 1rem;
    width: 10rem;
    text-align: left;

}

td {
    color: rgba(255, 255, 255, 0.5);
    font-weight: 400;
    letter-spacing: 0.05rem;
}

form table td,
form table th {

    border-radius: 0.8rem;
    background-color: rgb(78, 78, 78);
    border: 5px solid rgb(34, 34, 34);
}

input,
select,
select option {
    background: none;
    border: none;
    outline: none;
    color: white;
    font-family: Inter;
    font-size: 1rem;
}

select {
    width: 100%;
}

select option {
    background-color: rgb(78, 78, 78);
}

input::placeholder {
    color: rgb(170, 170, 170);
    font-family: Inter;
}


form button {
    padding: 1rem 1.25rem;
    color: white;
    margin-top: 2rem;
    display: inline-block;
    font-family: Inter;
    background-color: tomato;
    font-weight: 450;
    border: none;
    width: 13rem;
    font-size: 1rem;
    border-radius: 10rem;
    margin-right: 0.8rem;
    cursor: pointer;
}

/* bmi-calculator section ends here  */

/* our-team section starts here */
.our-team {
    margin: 0 auto;
    margin-top: 50px;
    width: 73.5%;
}

.our-team-text {
    margin-top: 1.5rem;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 2rem;
}

.our-team-text h1 {
    font-weight: 900;
    font-size: 3rem;
    text-align: center;
}

.our-team-text p {
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.8rem;
    width: 35rem;
    font-weight: 400;
    letter-spacing: 0.05rem;
    line-height: 1.5rem;
    margin-top: 1rem;
    text-align: center;
}

.image-blocks {
    padding: 1.5rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
    background-color: rgb(34, 34, 34);
    border-radius: 1rem;
}

.trainer1 {
    background-image: url("images/trainer1.png");
}

.trainer2 {
    background-image: url("images/trainer2.png");
}

.trainer3 {
    background-image: url("images/trainer3.png");
}

.trainer4 {
    background-image: url("images/trainer4.png");
}

.trainer5 {
    background-image: url("images/trainer5.png");
}

.trainer6 {
    background-image: url("images/trainer6.png");
}

.trainer1,
.trainer2,
.trainer3,
.trainer4,
.trainer5,
.trainer6 {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 1rem;
    position: relative;
    width: 100%;
    padding-bottom: 100%;
    overflow: hidden;
}

.image-blocks div p:nth-of-type(1) {
    position: absolute;
    bottom: 2rem;
    left: 1rem;
    overflow: hidden;
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
    font-weight: 400;
}

.image-blocks div p:nth-of-type(2) {
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.8rem;
    font-weight: 400;
    letter-spacing: 0.05rem;
    line-height: 1.5rem;
    position: absolute;
    bottom: 0.8rem;
    left: 1rem;
}

/* our-team section ends here */

/* feedback section starts here  */
.feedback {
    width: 73.5%;
    margin: 0 auto;
    margin-top: 3rem;

}

.feedback h2 {
    text-align: center;
    margin-bottom: 2rem;
    font-weight: 900;
    font-size: 3rem;
    color: white;
}

.feedback-profile {
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 20px;
}

.feedback-profile>.text>p:nth-of-type(1) {
    font-size: 1.5rem;
    color: rgba(255, 255, 255, 0.8);
    font-weight: 600;
}

.feedback-profile>.text>p:nth-of-type(2) {
    font-size: 0.8rem;
    color: rgba(255, 255, 255, 0.5);
    letter-spacing: 0.05rem;
    line-height: 1.5rem;
}

.feedback-container {
    padding: 2rem;
    background-color: rgb(34, 34, 34);
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.feedback-container>p {
    font-size: 0.8rem;
    color: rgba(255, 255, 255, 0.5);
    font-weight: 400;
    width: 100%;
    letter-spacing: 0.05rem;
    line-height: 1.5rem;
}

.feedback-container>p:nth-of-type(1) {
    margin-top: 1rem;
    font-size: 5rem;
    text-align: center;
    font-weight: 900;
}

/* feedback section ends here */

/* footer section starts here  */
footer {
    margin-top: 5rem;
    background-color: rgb(34, 34, 34);
}

.footer-container {
    padding-top: 4rem;
    width: 73.5%;
    margin: 0 auto;
}

.footer-info {
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.footer-part-1 {
    width: 50%;
}

.footer-part-1 h2 {
    color: tomato;
    font-size: 4.5rem;
    margin-bottom: 1rem;
}

.footer-part-2,
.footer-part-3 {
    width: 25%;
}

.footer-part-2 h2,
.footer-part-3 h2 {
    color: white;
    font-size: 2rem;
    margin-bottom: 1.5rem;
}

.footer-part-2 p,
.footer-part-3 p {
    color: rgba(255, 255, 255, 0.5);
    font-size: 1.3rem;
    font-weight: 400;
    letter-spacing: 0.05rem;
    line-height: 2.2rem;
}

.footer-part-1 p {
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.8rem;
    font-weight: 400;
    letter-spacing: 0.05rem;
    line-height: 1.5rem;
    width: 80%;
}

.footer-container hr {
    margin: 3rem 0 2rem;
    opacity: 0.5;
}

.bottom-text {
    color: rgba(255, 255, 255, 0.5);
    font-size: 1.2rem;
    font-weight: 400;
    letter-spacing: 0.05rem;
    padding-bottom: 2rem;
    text-align: center;
}

/* footer section ends here  */

/* Verticle spacing adjustments */
.extra-mile,
.bmi-calculator-text,
.our-team-text,
.feedback h2 {
    margin-top: 5rem;
    margin-bottom: 3rem;
}

/* media query adjustments */
@media screen and (max-width: 576px) {

    .header-container,
    .change-habit,
    .extra-mile,
    .our-team,
    .footer-container,
    .chart-and-form,
    .feedback,
    .bmi-calculator-text {
        width: 80%;
        margin: 0 auto;
    }

    .nav-bar {
        flex-direction: row;
        align-items: center;
    }

    .menu {
        display: none;
    }

    .hamburger {
        display: block;
        color: white;
    }

    .header-info {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: unset;
        width: unset;
    }

    .textandbutton {
        margin-top: 1rem;
        width: unset;
    }

    .shape-txt {
        font-family: 'Miama';
        font-weight: 400;
        font-size: 5rem;
    }

    .textandbutton p {
        width: unset;
    }

    .textandbutton h1 {
        font-size: 3rem;
    }

    .header-buttons button:nth-of-type(2) {
        width: unset;
    }

    .header-buttons button:nth-of-type(1) {
        width: unset;
    }

    .box-1 {
        left: 0;
    }

    .box-2 {
        right: 0;
    }

    .change-habit {
        margin-top: 22rem;
    }

    .change-habit .text p {
        width: unset;
    }

    .change-habit .cards {
        flex-direction: column;
        width: 80%;
    }

    .extra-mile {
        margin-top: 4rem;
        flex-direction: column;
    }

    .extra-mile-text-button {
        width: unset;
        margin-left: 0;
    }

    .extra-mile-text-button button {
        margin-top: 0;
        margin-bottom: 2rem;
    }

    .extra-mile-image {
        width: 100%;
        height: 12rem;
    }

    .extra-mile-text-button h1 {
        font-size: 2rem;
        margin-top: 0;
        width: 100%;
    }

    .bmi-calculator-text {
        width: 80%;
        margin-bottom: 2rem;
    }

    .bmi-calculator-text h1 {
        font-size: 3rem;
    }

    .bmi-calculator-text p {
        width: unset;
    }

    .form p {
        margin-top: 1rem;
    }

    .chart-and-form {
        flex-direction: column;
    }

    .chart {
        width: 100%;
    }

    .form {
        margin-top: 2rem;
        width: unset;
    }

    input {
        width: 5rem;
    }

    .our-team-text p {
        width: unset;
        text-align: center;
    }

    .image-blocks {
        grid-template-columns: repeat(1, 1fr);
    }

    .feedback {
        margin-top: 3rem;
    }

    .footer-info {
        flex-direction: column;
    }

    .footer-part-1,
    .footer-part-2,
    .footer-part-3 {
        width: unset;
    }

    .footer-part-2,
    .footer-part-3 {
        margin-top: 2rem;
    }

    .footer-part-1 p {
        width: 100%;
    }
}